<form action="/pirates" method="post">
  <input type="text" name="pirate[name]"></input>
  <input type="text" name="pirate[weight]"></input>
  <input type="text" name="pirate[height]"></input>
  <input type="text" name="pirate[ships][][name]"></input>
  <input type="text" name="pirate[ships][][type]"></input>
  <input type="text" name="pirate[ships][][booty]"></input>

  <input type="submit" value="submit"></input>
</form>
